In [82]:
import geopandas as gpd
import pandas as pd
from pandas import DataFrame,Series
from  geopandas import GeoDataFrame
from shapely.geometry import Point
import os
data_path = 'output'
field_to_count='id' # Field that contains a value (not null) in each row.
percentage = 'percentage (%)'
count = 'count'
import warnings
warnings.filterwarnings(action='ignore')

In [19]:
path = "wrm_demographics_2022-12-05.csv"
ir_fields =['description','geometry',]
data_0 = pd.read_csv(path)
data = data_0.drop(ir_fields,axis=1)
# date to day and hour
date = pd.to_datetime((data['date'].str.replace('Z','').str.replace('T',' ')))
hour,day  = 'hour','day'
data[hour],data[day] = date.dt.hour, date.dt.day_name()
data

,id,date,date_reported,type,birth_year,gender,race,disability,disability_type,mobility_aid,...,feature_subtype,lon,lat,gender_class,age,age_class,mobility_aid_type_class,disability_type_class,hour,day
0,4,2021-05-27T22:34:00Z,2021-05-28T22:50:36Z,incident,1971,female,white,no,NaN,no response,...,vehicle-turning-head-on,-123.434508,48.459019,Women,50,45-54,No response,None,22,Thursday
1,7,2021-05-29T19:46:42Z,2021-05-29T20:01:09Z,incident,2000,no-response,no-response,no,NaN,no response,...,vehicle-turning-right,-123.316472,48.433674,No Response,21,18-24,No response,None,19,Saturday
2,8,2021-05-31T17:54:58Z,2021-05-31T18:00:16Z,amenity,1982,male,white,no,NaN,no response,...,NaN,-123.039638,49.288649,Men,39,35-44,No response,None,17,Monday
3,16,2021-06-04T17:31:46Z,2021-06-04T17:56:33Z,incident,1982,male,white,no,NaN,no response,...,vehicle-from-behind,-123.036018,49.281230,Men,39,35-44,No response,None,17,Friday
4,17,2021-06-04T21:35:00Z,2021-06-04T21:41:11Z,amenity,1993,female,white,no,NaN,no response,...,NaN,-123.193901,49.263620,Women,28,25-34,No response,None,21,Friday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1383,1987,2022-11-27T18:00:00Z,2022-12-04T20:03:10Z,hazard-concern,1975,male,black,no,NaN,no response,...,vehicles - speed makes uncomfortable,-75.700354,45.497378,Men,47,45-54,No response,None,18,Sunday
1384,1988,2022-12-04T19:55:30Z,2022-12-04T20:05:26Z,hazard-concern,1975,female,black,no,NaN,no response,...,vehicles - speed makes uncomfortable,-75.699729,45.501452,Women,47,45-54,No response,None,19,Sunday
1385,1989,2022-12-04T19:55:30Z,2022-12-04T20:08:21Z,amenity,1986,male,white,no,NaN,no response,...,NaN,-75.696871,45.496891,Men,36,35-44,No response,None,19,Sunday
1386,1990,2022-12-04T19:55:30Z,2022-12-04T20:11:31Z,amenity,1962,male,latino,no,NaN,no response,...,NaN,-75.691793,45.504402,Men,60,55-64,No response,None,19,Sunday
1387,1991,2022-12-04T19:55:30Z,2022-12-04T20:13:56Z,amenity,1998,female,indigenous,yes,cognitive,no,...,NaN,-75.688054,45.504698,Women,24,18-24,None,Cognitive,19,Sunday

In [20]:
univariate_columns =['hour','day', 'type','gender_class','race','disability','disability_type','mobility_aid','feature_type','feature_subtype','age_class', 'mobility_aid_type_class', 'disability_type_class']

In [7]:
def var_groupby(groupby_field:str)-> DataFrame:
    """
    The method counts the number of results (and percentage) in the same category.
    :param groupby_field
    :return:
    """
    groupby_data = DataFrame(data.groupby(data[groupby_field]).count()[field_to_count].rename(count))
    groupby_data [percentage] = round(groupby_data[count]/groupby_data[count].sum()*100,1)
    # Sort all variables by percentage (except time variables)
    if not  groupby_field in  ['hour','day']:
        groupby_data.sort_values(inplace=True,by=percentage,ascending=False)

    #  sort by weekday
    if groupby_field=='day':
        cats = {'Sunday':1, 'Monday':2, 'Tuesday':3, 'Wednesday':4, 'Thursday':5, 'Friday':6, 'Saturday':7}
        day_as_num= 'day_as_num'

        groupby_data['day_as_num'] = groupby_data.apply(lambda x:cats[x.name],axis=1)
        groupby_data =  groupby_data.sort_values(by =day_as_num).drop(columns=[day_as_num])
    groupby_data.loc['sum'] = groupby_data.sum()

    return groupby_data

In [8]:
# calculate group by and percentage
new_tables = {var: var_groupby(groupby_field=var) for var in univariate_columns  }
# save
with pd.ExcelWriter(f"{data_path}/univariate.xlsx") as writer:
    [item[1].to_excel(writer, sheet_name=item[0]) for item in new_tables.items()]

In [83]:
def bivariate_analysis(data_to_group:(GeoDataFrame, DataFrame), main_vars:list, secondary_vars:list, field_to_store:str):
    r"""
    It goes over the dictionary and calculate the cross relation between the variable inside
    :param is_staty: to use data from other data saved on the disk
    :param data_to_group: data to work on
    :param field_to_store: which field to retain after groupby and counting
    :param name_analysis: it is used to create new folder if necessary
    :param main_vars:
    :param secondary_vars:
    :return:
    """
    for main_var in main_vars:
        print(f'\n{main_var}')
        new_tables_data = {}
        data1 = data_to_group[~data_to_group[main_var].isin(['No Response', 'no response'])].dropna(subset= main_var)
        for other in secondary_vars:
            print(f'{other}\t',end="")
            data2 = data1[~data_to_group[other].isin(['No Response', 'no response'])].dropna(subset=other)
            sum_field = data2.groupby(main_var).count()[field_to_store].rename('count')
            # GroupBy two questions (one of which is main_var)
            table_00 = DataFrame(data2.groupby([main_var, other]).count()[field_to_store].rename(''))
            # Get the data in readable structure
            table_0 =table_00.unstack(fill_value=0)
            # Clean columns and index
            table_0.columns = table_0.columns.droplevel()

            # get percentage (questions variables for each group)
            old_columns =table_0.columns
            table_2 = table_0.copy()
            table_2[old_columns +' (%)'] = round(table_0.div(sum_field, axis=0) * 100, 1)
            table_2['sum_field'] = sum_field
            new_tables_data[f'{other}'] =table_2.sort_values(by='sum_field',ascending=False)
        with pd.ExcelWriter(f"{data_path}/{main_var}.xlsx") as writer:
            [item[1].to_excel(writer, sheet_name=item[0]) for item in new_tables_data.items()]

In [84]:
dict_main =['hour','day','gender_class','disability','disability_type','mobility_aid','age_class','disability_type_class']
other_data = ['type', 'feature_type', 'feature_subtype']
bivariate_analysis(data_to_group=data, main_vars=dict_main, secondary_vars=other_data, field_to_store='id')

hour
type	feature_type	feature_subtype
day
type	feature_type	feature_subtype
gender_class
type	feature_type	feature_subtype
disability
type	feature_type	feature_subtype
disability_type
type	feature_type	feature_subtype
mobility_aid
type	feature_type	feature_subtype
age_class
type	feature_type	feature_subtype
disability_type_class
type	feature_type	feature_subtype

### make spatial data

In [ ]:
crs = 'EPSG:4326'
spatial_folder = 'shpfiles'
spatial_data = GeoDataFrame(data, geometry=data.apply(lambda x:Point(x['lon'],x['lat']),axis =1),crs=crs)
spatial_data.to_file(f'{spatial_folder}/WRM.shp')

In [ ]:
def add_city_name(city_name:str):
    r"""
    Upload the city's shp file from the disk and add its name by s_join to the corresponding points.
    :param city_name:
    :return:
    """
    city  = gpd.read_file(f'{spatial_folder}/{city_name}.shp').to_crs(crs)
    s_data = spatial_data.sjoin(city)
    s_data['city'] =city_name
    return s_data

In [ ]:
# Upload city boundary polygons
data_with_city_name = pd.concat([add_city_name(name) for name in ['Ottawa','victoria']])
data_with_city_name.to_file(f'{spatial_folder}/Ottawa_victoria.shp')

In [85]:
dict_main =['city']
other_data = ['type', 'feature_type', 'feature_subtype']
bivariate_analysis(data_to_group=data_with_city_name, main_vars=dict_main, secondary_vars=other_data, field_to_store='id')

city
type	feature_type	feature_subtype

# Test area

In [77]:
main_vars= dict_main
data_to_group=data_with_city_name
field_to_store = 'id'
secondary_vars = other_data
for main_var in main_vars:
    print(f'\n{main_var}')
    new_tables_data = {}
    data1 = data_to_group[~data_to_group[main_var].isin(['No Response', 'no response'])]
    sum_field = data1.groupby(main_var).count()[field_to_store].rename('count')
    for other in secondary_vars:
        print(f'{other}\t', end="")
        data2 = data1[~data_to_group[other].isin(['No Response', 'no response'])]
        # GroupBy two questions (one of which is main_var)
        table_00 = DataFrame(data2.groupby([main_var, other]).count()[field_to_store].rename(''))
        # Get the data in readable structure
        table_0 = table_00.unstack(fill_value=0)
        # Clean columns and index
        table_0.columns = table_0.columns.droplevel()

        # get percentage (questions variables for each group)
        old_columns = table_0.columns
        table_2 = table_0.copy()
        table_2[old_columns + ' (%)'] = round(table_0.div(sum_field, axis=0) * 100, 1)
        table_2['sum_field'] = sum_field
        new_tables_data[f'{other}'] = table_2.sort_values(by='sum_field', ascending=False)
    with pd.ExcelWriter(f"{data_path}/{main_var}.xlsx") as writer:
        [item[1].to_excel(writer, sheet_name=item[0]) for item in new_tables_data.items()]

city
type	feature_type	feature_subtype

In [73]:
table_0

type      amenity  hazard-concern  incident
city
Ottawa         64             112         7
victoria      231             367       112

In [76]:
sum_field

          count
city
Ottawa      183
victoria    710